/*BACKGROUND*/
body{
    background-color:#FCFAF8;
    
}

/*TOP*/
#topbanner{
    background: #8FB209;
}

.wikkel{
    width: 70%;
    margin:0 auto;
    min-width: 1000px;
}
/*HEADER*/
#topstuk{
    border-bottom: solid #DCDAD8 1px;
    margin-bottom: 5px;

}
/*LOGINMENU*/
form{
    float:right;
    color:white;
    font-size: 1.2em;
}
form>#submit{
    background-color: #6D9207;
    border:solid #047B00 1px;
    color:white;
}

/*LOGO*/
#logo{
    clear:both;
    float:left;	
    margin:20px 0px 0 0px;
    padding:0;
}

/*TOPMENU*/
#topmenu {
    clear:both;
    text-align:right;
    float:right;
    margin-bottom: 5px;
}
#topmenu ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
#topmenu ul li{display:inline;}
#topmenu ul li a {
    display:inline-block;
    width:7em;
    padding:0.2em;
    font-size:1.2em;
    font-weight:bold;
    color:#6C6A68;
    text-decoration:none;
}
#topmenu ul li a:hover, #topmenu ul li a:active{
    color:#005689;
    text-decoration: none;
}

/*IMAGES*/
img{

    padding:10px 10px 10px 10px;
    background-color: white;

}

/*Foto1*/
#Foto1{
    float:right;
    border:solid #E9DCE9 8px;
    background-color: white;
}
#Foto2{
    background-color: white;
    float:left;
    margin-top:-50px;
    border:solid #E9DCE9 8px;
    margin-right: 30px;
}


/*TEKST*/

/*DEEL 1*/
h1{
    font-size: 4em;
    font-weight: bold;
}
h1{
    color:#7EA107;
}
h2{
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}
h2{
    color:#52463F;
}

p{
    /*font-weight:bold;*/
    font-size: 1.3em;
}
p{
    color:#52463F;
}
h3{
    font-weight: bold;
    font-size: 1.3em;
}
h3{
    color:#52463F;
}

#KopInfo{
    margin-bottom: 60px;
}
/*DEEL 2*/
.middenstuk{
    background-color: #EBE8E5;
    border-top: solid #DCDAD8 2px;
    border-bottom: solid #DCDAD8 2px;
}
#OpleidingInfo h2{
    color:#7EA107;
    font-style: normal;
}

#OpleidingInfo ul{
    list-style-image: url(../img/check.png);
}
#opleidingsmenu ul{

    margin:20px;
    padding:0px;
}
#opleidingsmenu li{
    float:left;
    width:28%;
    margin-right:4%;
    padding-bottom:20px;
    height:6em;
} 

/*DEEL 3*/
#Nieuws h2{
    color:#7EA107;
    font-style: normal;
}


#Nieuws h3{
    color:#52463F;
}

a{
    text-decoration: none;
    color: #4C86CF;
}
a:hover{
    text-decoration: underline;
    color: #058;
}

.article{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:2%;
    border: 100px solid #E4F0F3;
}

#nws_123{
    float:left;
    width:32%
}
#nws_456{
    margin:0 35% 0 35%;
}
#nws_789{
    float:right;
    width:29%}
#Foto3{
    float:right;
}
p code{
    color:#8B1C00;
}
/*Footer*/
.bottom{
    border-top: solid #DCDAD8 2px;
}
#footer{
    font-size: 0.8em; 

}
#footertext {
    font-style: italic; 
}


/*CLEARFIX*/
.clearFix:before, .clearFix:after{
    content: " ";
    display: table;
}
.clearFix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}

