@charset "utf-8";
/* print stylesheet voor JS adv project 'interface' */
.interface:display:none;
div{
	margin:0;
	padding:0;
	border:none;
}
body {
	background:white;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin:0;
	padding:0;
}

/**********structuur*****************/

.strook{
	margin:0 auto;
	width:1000px;
	padding:1px;
	height:100%;
	}
#kop{
	background:white;
	color:black;
	padding:5px 50px;
	}
#kop h1{margin:12px 0 0 0;}
#kop h3{
	margin:0 0 0 500px;
	font-style:italic;
	border:none;
	}

#midden{
	
	color:black;
	height:110%;
	}
#midden .strook{
		background:white;
		padding:1px 5px 1px 5px;;
	}	
/**********algemeen*****************/

a{color:#6CF;}

h2,h3,h4,h5,h6{color:#5555A2;border-bottom:1px solid #C5C5EF;}
dl, p, blockquote {
	text-align:justify;
}
pre {
	background-color:#EBE7D1;
	color:#990000;
	border:1px solid #DEDEDE;
	clear:left;
	font-family:"Courier New",Courier,monospace;
	padding:1em ;
	margin:0 1em;
}
img {
	border:0px solid black;
	margin-right:1em;
}
code {
	color:#990000;
	font-family:"Courier New",Courier,monospace;
	font-size:1.1em;
}
em {
	font-style:normal;
	font-weight:bold;
}
/**********specifiek*****************/

.inhoudstafel, #inhoud, #inlichtingen, #frmInlichtingen{
		display:none;
}
.noprint{display:none}

